body {
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 90%;
}

.header {
    padding: 20px 35px;
    background-color: #c9dfec;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 10px;
}

.container {
    margin: 0 auto;
}

.search {
    background-color: lightgray;
    padding: 0.5em;
    float: left;
    border-radius: 10px;
    padding-bottom: 15px;
}

.searchButton {
    padding-bottom: 10px;
}

.currentWeather {
    border: 2px solid;
    padding-left: 0.5em;
}

.infoCurrent {
    background-color: lightcyan;
    padding: 0.5em;
    float: left;
    border-radius: 10px;
}