body {
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    margin: 5px auto;
    width: 90%;
}

header {
    position: relative;
    padding: 10px 15px;
    background-color: #c9dfec;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 5px;
    margin: 5px auto;
}

header h1 {
    font-size: 45px;
    font-weight: bold;
    text-shadow:  2px 2px 5px gray;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 15px;
    background-color: #c9dfec;
    display: flex;
    border-radius: 5px;
    align-content: center;
    margin: 5px auto;
}

.row {
    margin: 0 auto;
}

.search {
    background-color: lightgray;
    padding: 0.5em;
    width: 250px;
    float: left;
    border-radius: 5px;
    padding-bottom: 15px;
}

.search h4 {
    font-size: 24px;
    font-weight: bold;
    text-shadow:  2px 2px 5px gray;
}

.btn {
    box-shadow: 2px 2px 5px gray;
}

.currentWeather {
    border: 2px solid;
    padding-left: 0.5em;
}

.result {
    display: flexbox;
    flex-direction: column;
    width: auto;
    padding: 0.5em;
    float: left;
    border-radius: 10px;
    margin: 5px auto;
}

@media screen and (max-width: 768px), screen and (max-width: 575px) {
body {
    height: auto;
    margin-top: 20px;
}
}